<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 實點</title>
    <link href="~/Content/sitesS.css" rel="stylesheet" type="text/css" />
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/SweetAlert/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="~/SweetAlert/sweetalert2.min.css" />
    <link rel="icon" type="image/x-icon" href="~/images/favicon_1.ico" />
    <!--

    author:LIANG-YOU
    ver52
    https://github.com/cooold/MVC_delay_time_order
    -->
</head>
<body>
    <script type="text/javascript">
        function sendAlert(fPId) {
            var num = document.getElementById('value' + fPId.id).value;
            //alert(num);
            var url = "@Url.Action("AddCar", "Member")?fPId=" + fPId.id;
            var url2 = "&num=" + num;
            location.href = url + url2;

            Swal.fire({
                icon: 'success',
                title: '已加入購物車',
                showConfirmButton: false,
                timer: 1500
            })
        }
    </script>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            @Html.ActionLink("實點-會員專區", "Index", "Member", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
                    <li class="nav-item">
                        <p class = "nav-link" >@Session["WelCome"]</p>
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("產品列表", "Index_introduce", "Member", new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("購物車", "ShoppingCar", "Member", new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("OrderList", "Member")?state_all=0" class="nav-link">訂單</a>
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("登出", "Logout", "Member", new { @class = "nav-link" })
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="header" style="        background-image: url(https://images.unsplash.com/photo-1542181961-9590d0c79dab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);">
        <div class="container d-flex  flex-row-reverse align-items-center h-100">
            <div>
                <h1 class="text-white">café<br>享受最好的時光</h1>
                @Html.ActionLink("訂購", "Index_introduce", "Member", new { @class = "btn btn-warning btn-lg" })
            </div>
        </div>
    </header>

    <div class="page">
        <div class="container body-content mt-5">
            @RenderBody()
        </div>
    </div>

    <footer class="bg-dark mt-5 py-5">
        <div class="container">
            <div class="text-white p3">實點<br>電話:02-29392152<br>&copy; @DateTime.Now  </div>
        </div>
    </footer>




    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
</body>
</html>